body {
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: norican;
 }

topnav {
    margin: 2px;
    flex: 0 auto;
    display: flex;
    justify-content: space-evenly;
    position: center;
    }
  
 topnav a {
      display: block;
      color: #348da5;
      font-size: x-large;
      text-align: center;
      text-decoration: none;
      font-family: 'Umbuntu Condensed';
      }
  
 topnav a:hover {
      background-color: white;
      color: #8E1E82;
      }

img {
margin: 5px;
flex: 0 auto;
}

main {
font-size: 3rem;
margin: 2px;
color: #348da5;
flex: 2;
justify-content: center;
align-items: center; 
text-align: center;
}


table {
empty-cells: hide;
border-spacing: 20px;
min-width: 67vh;
min-height: 67vh;
}


table td {
color: #348da5;
height: 50px;
width: 50px;
text-align: center;
border:5px solid #348da5 ; 
opacity: .5;
font-size: 3rem;}

td:hover {
background-color: #348da5;
color: white;
opacity: .5;}
        
  
footer {
  display: flex;
  padding: 10px;
  color: #8E1E82;
  justify-content: center;
  justify-content: space-around;
  position: center;
  margin: 2px;
  flex: 3 auto;
  } 
    
 
