html{   
    background-position: center;
   background: url(Desk.jpeg) no-repeat center center fixed;
   background-repeat: no-repeat;  
    -webkit-background-size: cover;
   -moz-bround-size: cover;
   -o-background-size: cover;
   background-size: cover;
    padding:auto;
    }


topnav {
       margin: 2px;
       flex: 0 auto;
       display: flex;
       justify-content: space-around;
       position: center;
       align-content: center;
       padding: 5px;
       }
   

  topnav a {
       display: flex;
       color: #348da5;
       font-size: 2rem;
       text-align: center;
       text-decoration: none;
       font-family: 'Cabin Condensed', sans-serif;
       }
   

  topnav a:hover {
       background-color: #ddd;
       color: #8E1E82;
       }

       body {
        margin: 5px;
        display: flex;
        flex-direction: column;
        }
header {
    margin: 2px;  
    flex: 1 auto;
    color:#348da5;
    justify-content: center;
    text-align: center;
    font-family: 'Dancing Script', cursive;  
    font-size: 10rem;      
    padding: 0px;
}

 main {
margin: 2px;
flex: 2 auto;
font-size: x-large;
text-align: center;
color: #8E1E82;
 }

 p {padding: 20px;
     justify-content: center;
    margin: 5px;
    display: flex;
    text-align: center;
    font-size: 3rem;
    font-family: 'Cabin Condensed', sans-serif;
    color: #8e1e82;
    }  


table{
position: center;
justify-content: space-around;
display: flex;
align-content: space-around;    
}

td{width: 600px;
    height: 300px;
justify-content: space-between;
border: 10px solid #348da5;
background-color: #ddd;
text-align: center;
font-family: 'Dancing Script';
font-size: 2rem;
color: #8e1e82;
}


a.hover {
background-color: red;
color: white;
opacity: .5;}
       
 
footer {
 display: flex;
 padding: 10px;
 color: #8E1E82;
 justify-content: center;
 justify-content: space-around;
 position: center;
 margin: 2px;
 flex: 3 auto;
 } 
      