html{   
    background-position: center;
   background: url(Desk.jpeg) no-repeat center center fixed;
   background-repeat: no-repeat;  
   display: flex; 
   -webkit-background-size: cover;
   -moz-bround-size: cover;
   -o-background-size: cover;
   background-size: cover;
    padding:auto;
    }

    topnav {
        margin: 2px;
        flex: 0 auto;
        display: flex;
        justify-content: space-evenly;
        position: center;
        align-content: center;
        padding: 5px;
        }
    

   topnav a {
        display: flex;
        color: #348da5;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        font-family: 'Cabin Condensed', sans-serif;
        }
    

   topnav a:hover {
        background-color: transparent;
        color: #8E1E82;
        }

       
header {
    margin: 2px;  
    flex: 1 auto;
    color: #348da5;
    justify-content: center;
    text-align: center;
    font-family: 'Dancing Script', cursive;  
    font-size: 10rem;      
    padding: 0px;
}

 main {
margin: 2px;
min-height: 67vh;
flex: 2;
font-size: x-large;
justify-content: center;
align-items: center;
text-align: center;
color: #8E1E82;
 }

 p {
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-family: 'Cabin Condensed', sans-serif;
    color: #8e1e82;
    }  

 footer {
display: flex;
padding: 10px;
color: #348da5;
justify-content: center;
justify-content: space-around;
position: center;
margin: 2px;
flex: 3 auto;
}
  


a:hover {

    color: #8E1e82;
  background-color: transparent;
  text-decoration: underline;
}


